<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Конструктивная ширина захвата</mat-label>
      <input
        matInput
        type="number"
        formControlName="captureConstructionWidth">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="standard">
      <mat-label>Коэффициент исп. ширины захвата</mat-label>
      <input
        matInput
        type="number"
        formControlName="captureUsageCoefficient">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="standard">
      <mat-label>Объёмная масса, т/м^3</mat-label>
      <input
        matInput
        type="number"
        formControlName="volumeMass">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="standard">
      <mat-label>Объём бункера, м^3</mat-label>
      <input
        matInput
        type="number"
        formControlName="bunkerVolume">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="standard">
      <mat-label>Коэффициент использования объёма бункера</mat-label>
      <input
        matInput
        type="number"
        formControlName="bunkerUsageCoefficient">
    </mat-form-field>
  </p>

  <p class="controls">
    <button mat-button type="submit" [disabled]="form.pristine">Применить</button>
    <button mat-button [disabled]="form.pristine" (click)="reset()">Отмена</button>
  </p>
</form>
