<div>
  <button mat-button (click)="goToCoordinates()">Перейти к координатам...</button>
  <button mat-button (click)="goToField()">Вернуться к текущему полю</button>
</div>

<div class="corner">
  <h3>Активный угол</h3>
  <div class="corner-select">
    <button
      *ngFor="let _ of corners$ | async; index as i"
      mat-button
      class="corner-select__button"
      [color]="(activeCorner$ | async) === i ? 'accent' : 'primary'"
      [class.corner-select__button_active]="(activeCorner$ | async) === i"
      (click)="setActiveCorner(i)">
      {{i}}
    </button>
  </div>
</div>

<div class="change-field">
  <ng-container *ngIf="drawMode$ | async; else viewMode">
    <button mat-button (click)="cancelDrawnField()">Отмена</button>
    <button mat-raised-button (click)="applyDrawnField()">Применить</button>
  </ng-container>

  <ng-template #viewMode>
    <button mat-button [disabled]="replaceChangeMode$ | async" (click)="enableDrawMode()">Изменить поле</button>
    <button mat-button [disabled]="drawMode$ | async" (click)="toggleReplaceMode()">Задать расположение транспортного средства</button>
  </ng-template>
</div>
