:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.change-field {
  display: flex;
  gap: 24px;
  padding: 32px;
}

.corner-select {

}

.corner-select__button {

}

.corner-select__button_active {

}
