<h1>{{title}}</h1>

<div class="app-container">
  <div class="map-container">
    <app-map></app-map>
  </div>
  <div class="panel-container">
    <mat-tab-group>
      <mat-tab label="Настройка поля">
        <app-field-setup></app-field-setup>
      </mat-tab>
      <mat-tab label="Начальные параметры">
        <app-combine-setup></app-combine-setup>
      </mat-tab>
      <mat-tab label="Записи датчиков">
        <app-records-table></app-records-table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
