:host {
  display: block;
  overflow: auto;
  padding: 24px;
}

.records {
  border-spacing: 0;

  .records__header {
    background-color: #fafafa;
  }

  th,
  td {
    width: 100px;
    text-align: center;
    padding: 4px 6px;
  }
}

.records__record {
  cursor: pointer;
}

.records__record_active {
  background-color: aliceblue;
}
