:host {
  display: block;
  overflow: auto;
  padding: 24px;
}

.records {
  border-spacing: 0;

  .records__header {
    background-color: #fafafa;
  }

  th,
  td {
    width: 100px;
    text-align: center;
    padding: 4px 6px;
  }
}

.records__record {
  cursor: pointer;
}

.record-cell_emphasize {
  background-color: #edf6f9;
}

.records__record_active {
  background-color: #e0f1f8;

  .record-cell_emphasize {
    background-color: #d4e8f0;
  }
}
